
.vs/RougelikeMan/v14/.suo
Assets/Scenes/SampleScene.unity
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/metadata/16/1630e799ab48ccf4088e23c9a5892a07
Library/metadata/f2/f2d6b37d20110b746b81834a0ec571bc
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/Assembly-CSharp.pdb
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/metadata/f2/f2d6b37d20110b746b81834a0ec571bc
Library/metadata/16/1630e799ab48ccf4088e23c9a5892a07
Library/CurrentLayout.dwlt
Library/assetDatabase3
.vs/RougelikeMan/v14/.suo
